#archive {
  .row section {
    width: 100%;
  }
  .row section {
    margin-top: 30px;
  }
  .post-preview {
    padding-left: 20px;
  }
  .post-preview > a {
    display: block;
    padding: 5px;
    color: $primary;
  }
  .post-preview > a:hover,
  .post-preview > a:focus {
    text-decoration: none;
    background-color: $light;
    border-radius: 2px;
  }
  .post-preview > a > .post-title {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 10px;
  }
  .post-preview > a > .post-subtitle {
    font-size: 15px;
    line-height: 1.3;
    color: $secondary;
  }
}
