<!-- this section is copied from: https://github.com/Huxpro/huxpro.github.io -->
<section>
    <h5><a href="{{'/archive/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
    <div class="tags">
    {% capture tags %}
    {% for tag in site.tags %}{% if tag[1].size > site.featured-condition-size %}
      <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}" 
         href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}"
         title="{{ tag[0] }}"
         rel="{{ tag[1].size }}">{{ tag[0] }}</a>__SEPARATOR__
    {% endif %}{% endfor %}
    {% endcapture %}
    {{ tags | split:'__SEPARATOR__' | sort }}
    </div>
</section>
