<section id="posts">
  {% for post in paginator.posts %}
    <div>
      <h4 class="text-capitalize"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
      <hr>
      <div class="post-content-preview">
          <p>{{ post.content | strip_html | truncate:300 }}</p>
      </div>
      <p class="text-info text-sm-right font-weight-light font-italic">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    </div>
  {% endfor %}
</section>
