<section id="sidebar">
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="row">
    <div class="col">
      <a target="_blank" href="https://goplusgo.me">
        <div class="card">
          {% if site.sidebar-avatar %}
            <img class="card-img-top" src="{{site.sidebar-avatar}}" />
          {% endif %}
          {% if site.sidebar-about-description %}
            <div class="card-body">
              <p class="card-text">{{site.sidebar-about-description}}</p>
            </div>
          {% endif %}
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      {% include featured-tags.html %}
    </div>
  </div>
</section>
