<section id="tags">
  <div class="container py-3">
    <!-- Tags -->
    <div class="row">
      <h2 class="text-primary">Tags</h2>
    </div>
    <div class="row">
        <div class="tags">
          <a data-encode="">
            Show All
            <sup>{{site.posts.size}}</sup>
          </a>
          {% capture tags %}
          {% for tag in site.tags %}
            <a
            data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
            data-encode="{{ tag[0] | strip | url_encode }}"
            title="{{ tag[0] }}"
            rel="{{ tag[1].size }}">
              {{ tag[0] }}
              <sup>{{tag[1].size}}</sup>
            </a>__SEPERATOR__
          {% endfor %}
          {% endcapture %}
          {{ tags | split:'__SEPERATOR__' | sort }}
        </div>
    </div>
  </div>
</section>
